body {
  background-image: url('./Bus_Pumakatari.jpg'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
